
/* Page title heading*/
.title {
  text-align: center;
}

/*Page subtitle heading*/
.subtitle {
  margin-top: 2rem;
  text-align: center;
}

/*paw button to generate random doggos*/
.generator-btn {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2rem;
  
}

/* Breed list heading */
.field {
  text-align: center;
}

/*Dropdown menu*/
.control{
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

#search{
  text-align: center;
}